[submodule "external/vga"]
	path = external/vga
	url = git@github.com:bendudson/vga.git
[submodule "external/pc-keyboard"]
	path = external/pc-keyboard
	url = https://github.com/bendudson/pc-keyboard
